<form id="form" method = 'post' action = '/list'>
<button type="button" onclick="newInput()">Add Name</button>
 <input type="submit" value="Submit">
</form>
<script>
function newInput() {
    var input = document.createElement('input');
    var form = document.getElementById('form');
    var linebreak = document.createElement('br');
    input.setAttribute('type', 'text');
    input.setAttribute('name', 'names[]');
    input.setAttribute('value', '');
    form.appendChild(input);
    }
</script>