<p>Click to start adding input boxes.</p>
<form method = 'post' action = '/list'>
<button type="button" onclick="newInput()">Add Name</button>
<input type="submit" value="Submit">
</form>
</div>
 <script>
function newInput() {
    var list = document.createElement("input");
    list.setAttribute("type", 'text[]');
    list.setAttribute("value", "Name Here");
    document.body.appendChild(list);
    }
</script>