Enter Your Names: <br>
<form id="list" method = 'post' action = '/list'>
<button type="button" onclick="newInput()">Add Name</button>
 <input type="submit" value="Submit">
</form>
<script>
function newInput() {
    var inputed_name = document.createElement('input');
    var list = document.getElementById('list');
    inputed_name.setAttribute('type', 'text');
    inputed_name.setAttribute('name', 'names[]');
    inputed_name.setAttribute('value', '');
    list.appendChild(inputed_name);
    }
</script>